<link rel="stylesheet" href="/css/border.css">
<link rel="stylesheet" href="/css/mypages.css">

{{>layouts/header}}

<div class="cl-page-layout">

    {{>layouts/nav}}

    <main class="cl-main-content">

        <section class="mypage-box">

            <h2 class="mypage-title">댓글 수정</h2>

            <form action="/comment/{{comment.id}}/edit"
                  method="post">

                <textarea name="content"
                          rows="5"
                          style="width:100%; padding:12px;">{{comment.content}}</textarea>

                <br><br>

                <button type="submit">
                    수정 완료
                </button>

                <a href="/mypages">
                    취소
                </a>

            </form>

        </section>

    </main>

</div>

{{>layouts/footer}}