<link rel="stylesheet" href="/css/nav.css">

<nav class="cl-nav">
    <ul class="cl-nav-list">

        <li class="cl-nav-item">
            <a href="/campuslostmain" class="cl-nav-link">
                홈
            </a>
        </li>

        <li class="cl-nav-item">
            <a href="/lost" class="cl-nav-link">
                분실물 게시판
            </a>
        </li>

        <li class="cl-nav-item">
            <a href="/found" class="cl-nav-link">
                습득물 게시판
            </a>
        </li>

        <li class="cl-nav-item">
            <a href="/post" class="cl-nav-link">
                등록하기
            </a>
        </li>

        <li class="cl-nav-item">
            <a href="/mypages" class="cl-nav-link">
                내 게시글
            </a>
        </li>

    </ul>
</nav>